<ul class="contacts">
    {% for contact in contacts %}
                <li
                >{% if is_granted('ROLE_ADMIN') %}<a href="{{ path('app_contact_update', {id: contact.id}) }}"
                ><span class="material-symbols-outlined text-warning">edit</span></a
                ><a href="{{ path('app_contact_delete', {id: contact.id}) }}"
                ><span class="material-symbols-outlined text-danger">delete</span
                >{% endif %}</a
                ><a href="{{ path('app_contact_show', {id: contact.id}) }}"
                class="contact"><span class="lastname"
                >{{ contact.lastname }}</span>, <span class="firstname"
                >{{ contact.firstname }}</span></a
                > <span class="badge text-bg-secondary"
                >{% if show_category ?? true and contact.category %}
                <a class="nav-link" href="{{ path('app_category_show', {id: contact.category.id}) }}"
                >{{ contact.category.name }}</a>
                {% endif %}</span>
        </li>
    {% endfor %}
</ul>
