{% extends 'base.html.twig' %}
{% set title = 'Création d\'un nouveau contact' %}
{% block title %}
    {{ title }}
{% endblock %}

{% block body %}
    <h1>{{ title }}</h1>
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-outline-success w-100 p-3">Ajouter</button>
    {{ form_end(form) }}
{% endblock %}
