{% extends 'base.html.twig' %}
{% set title = 'Édition de ' ~ contact.lastname ~ ', ' ~ contact.firstname %}
{% form_theme form 'bootstrap_5_layout.html.twig' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block body %}
    <h1>{{ title }}</h1>
    {{ form_start(form) }}
        {{ form_widget(form) }}
    {{ form_end(form) }}
    <button type="submit" class="btn btn-outline-danger w-100 p-3">Modifier</button>
{% endblock %}
